body {

    font-family: Arial, sans-serif;
    max-width:800px;
    margin: 40 px auto;
    padding: 20px;

}

h1  {
    color:#6091fd;
}

button {
    padding: 10 px 20px;
    margin-top: 10px;
    cursor: pointer;
}

#results {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid gray; 
}








